@charset "UTF-8";

:root{
    --cor0: #F26B8F;
    --cor1: #286CA9;
    --cor2: #46268C;
    --cor3: #050A26;
    --cor4: #0E3D59;
}
*{
    margin: 0px;
    padding: 0px;
}

main{
    width: 100vw;
}
div#formulario{
    height: 150px;
    width: 600px;
    margin: auto;
    background-color: #0E3D59;
}